

.animated-background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #ff5733, #33ccff);
    background-size: 200% 200%;
    animation: gradient 5s infinite;
}

/* Define the animation keyframes */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
@keyframes glow {
    0% {
        text-shadow: 0 0 10px white;
    }
    50% {
        text-shadow: 0 0 20px white;
    }
    100% {
        text-shadow: 0 0 10px white;
    }}
.glow-text {
    font-size: 200%;
    font-family: "Times New Roman", Times, serif;
    color: #de2d2d;
    animation: glow 2s infinite;
    padding: 10px;
    margin-bottom: 10px;
}
body{
    height: 100vh;
    background: linear-gradient(45deg, #0b5327, #1c456c);
    background-size: 200% 200%;
    animation: gradient 30s infinite;
}
h1,h2,h3{
    font-size: 200%;
    font-family: "Times New Roman", Times, serif;
    color: #ffffff;
    animation: glow 2s infinite;
    padding: 10px;
    margin-bottom: 10px;
}
.text{
    font-size: 100%;
    font-family: "Times New Roman", Times, serif;
    color: #ffffff;
    animation: glow 2s infinite
}
p{
    font-size: 100%;
    font-family: "Times New Roman", Times, serif;
    color: #ffffff;
    animation: glow 2s infinite
}
#output{
    font-size: 100%;
    font-family: "Times New Roman", Times, serif;
    color: #ffffff;
    animation: glow 2s infinite
}
