/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 10px white;
    background-color: red;
  }
  body {
    background-color: #e1b74d;
  }
  h1{
    text-align: center;
    padding: 10px;
    margin-bottom: 1px;
    border: solid 1px white;
    background-color: red;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }